/* Place CSS styles here */
body{
    background-color: #fff;
    font-family: Helvetica, sans-serif;
}

.name{
    background-color: #D33D96;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.top{
    font-family: Impact, sans-serif;
    font-size: 122px;
    text-align: right;
    color: rgb(255, 255, 255);
}