/* Place CSS styles here */
body{
    background-color: #2f2f2f;
    font-family: Helvetica, sans-serif
}

.name{
    background-color: #D33D96;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.top{
    font-family: "Bebas Neue", sans-serif;
    font-size: 130px;
    text-align: right;
    color: rgb(255, 255, 255);
    padding-right: 100px;
    padding-top: 100px;
    
}

h2, h3, h4{
    font-family: Impact, sans-serif;
    font-size: 110px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-align: center;
}

p{
    font-family: Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 36px;
    padding-left: 75px;
    padding-right: 100px;
    text-indent: 50px;
    line-height: 1.5;
}

.work{
    font-family: Impact, sans-serif;
    font-size: 110px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 22px;
}

.art{
    text-align: center;
    list-style-position: inside;
}

ul img {
    border: 5px solid rgb(0, 0, 0);
}

footer {
    background-color: #D33D96;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}